*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #333;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  max-width: 1000px;
  padding-inline: 30px;
  margin-inline: auto;
}

.heading {
  margin-block: 2em;
  padding: 1em;
  background-color: #eee;
}
